.button-group {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  border-bottom: 1px solid lightgrey;
}

.button {
  letter-spacing: 2px;
  padding: 8px 14px;
  background: transparent;
  border: none;
}

.active-btn {
  font-weight: 600;
  border-bottom: 4px solid #03dac6;
}
