* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  word-break: break-word;
}

.wall-splash {
  display: none;
  height: 100px;
  width: 100%;
  background: lightgrey;
  clip-path: polygon(0 0, 100% 0%, 100% 34%, 0% 100%);
}

.custom-search-box {
  outline: none;
  padding-left: 50px;
  border: 3px solid grey;
  border-radius: 35px !important;
  border-bottom: 3px solid grey;
  background: transparent;
}

.custom-search-box:focus {
  outline: none;
  box-shadow: none;
  background: transparent;
  border: 3px solid #03dac6;
}

.search-group {
  position: relative;
  max-width: 700px;
  margin: auto;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  border: none;
}

.clear-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  z-index: 3;
}

.clear-icon i {
  color: lightgrey;
  cursor: pointer;
}

.clear-icon i:hover {
  color: grey;
}

.card-deck-user {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.card-deck-repo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media only screen and (max-width: 993px) {
  .card-deck-repo {
    grid-template-columns: repeat(2, 1fr);
  }

  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: 767px) {
  .card-deck-user {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-deck-repo {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-repo {
    min-height: 260px;
  }
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 412px) {
  .card-deck-user {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-deck-repo {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-repo {
    min-height: 220px;
  }

  html {
    font-size: 11px;
  }
}
